<nav class="navbar navbar-inverse">
	<div class="container">

		<!-- <ul class="nav navbar-nav">


			<li ><a href="#/" >Home</a></li>
			<li><a href="#/about">About</a></li>
			<li><a href="#/todo">Todo</a></li>
			
			<li ng-hide="vm.loggedIn()"><a href="#/register">Register</a></li>
			<li><a href="#/contact">Contact</a></li>
		</ul> -->
		<ul class="nav navbar-nav navbar-right">
			<li ng-show="vm.loggedIn()"><logout></logout></li>

		</ul>
		
		<ul class="nav navbar-nav navbar-right">
		<li ng-hide="vm.loggedIn()"><login></login></li>
		<!-- <a href="#/login">Login</a> -->
		</ul>
	</div>

</nav>





